<?xml version = "1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version = "v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name = "Sql" connectionString="server=192.168.122.97;Initial Catalog=Test;User ID=sa;Password=123456"/>
		<add name = "Ip" connectionString="192.168.122.132"/>
		<add name = "Port" connectionString="6000"/>
		<add name = "address_D10000" connectionString="D10000"/>
		<add name = "address_D10001" connectionString="D10001"/>
		<add name = "address_D10002" connectionString="D10002"/>
		<add name = "address_D4114" connectionString="D4114"/>
		<add name = "address_D31" connectionString="D31"/>
		<add name = "Auto_Read" connectionString="false"/>
		<!--是否自动读取 true/false-->
	</connectionStrings>
</configuration>